<!DOCTYPE html>
<head>
  <title>node html page</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
    <% include partials/nav.ejs %>
  <h1>welcome to the best nodejs website</h1>
  <p>you wont find something awesome like this</p>
</body>
</html>
